.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 40px 0;
  box-shadow: 0px 1px 4px 0px #7a7c813d;
  background-color: var(--classic-white);
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.angular-logo {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: var(--grey-50);
  display: flex;
  justify-content: center;
  align-items: center;
}
