.account-card {
  width: 720px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.account-card .title-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.account-card .title-wrapper .title {
  font-size: 26px;
  font-weight: 600;
  color: var(--grey-900);
}

.tenants-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.tenant-card {
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-flow: column;
  gap: 16px;
  box-shadow: 0px 4px 24px 0px #2f334b14;
  flex-grow: 1;
}

.tenant-title {
  display: flex;
  gap: 8px;
  align-items: center;
}

.tenant-name {
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: var(--grey-600);
}

.tenant-logo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.tenant-title-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.tenant-info {
  border-top: 1px solid var(--classic-grey-200);
  padding: 8px;
  padding-top: 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.tenant-info-item {
  display: grid;
  grid-template-columns: 88px 1fr;
  align-items: center;
}

.tenant-info-item-title {
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  color: var(--classic-grey-800);
}

.tenant-info-item-value {
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  color: var(--classic-grey-700);
  word-break: break-word;
}

.edit-button {
  width: 100%;
  margin-top: auto;
}


.tenant-info-copy-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
  align-items: center;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .tenants-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
